*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font */
  --font-space-mono: "Space Mono", monospace;
  --font-form-input-size: 24px;

  /* Colors */
  /* Primary */
  --color-strong-cyan: hsl(172, 67%, 45%);
  --color-lighter-cyan: hsl(172, 67%, 65%);
  --color-soft-red: hsl(0, 93%, 68%);

  /* Neutral */
  --color-very-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-light-grayish-cyan-2: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-family: var(--font-space-mono);
  background-color: var(--color-light-grayish-cyan);
}

h2 {
  font-size: 3rem;
  color: var(--color-strong-cyan);
}

ul {
  list-style-type: none;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
  background-color: none;
  border-radius: 0.2em;
  border: transparent;
  outline: transparent;
  cursor: pointer;
}

button:disabled {
  opacity: 0.15;
  cursor: not-allowed;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  font-size: var(--font-form-input-size);
  font-weight: bold;
  font-family: inherit;
  color: inherit;
  background: none;
  border: transparent;
  outline: transparent;
  flex-grow: 1;
}

input[type="radio"] {
  position: absolute;
  width: 0;
  opacity: 0;
}

/*
  To remove input spinner,
  credit: w3schools.com
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

header {
  text-align: center;
  margin-bottom: 5em;
}

.container {
  width: 80%;
  max-width: 950px;
  margin: 10vh auto;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2em;
  padding: 2em;
  background-color: var(--color-white);
  border-radius: 1.5em;
}

section.calculation {
  padding: 1em;
}

.form-group:not(:last-child) {
  margin-bottom: 2.5em;
}

.form-group:last-child {
  position: relative;
}

.form-group.error .input-wrapper {
  border-color: var(--color-soft-red);
}

.form-group.error .error-msg {
  display: block;
}

.bill-label,
.number-of-people-label,
.select-tip-text {
  color: var(--color-dark-grayish-cyan);
}

.select-tip-text {
  font-weight: bold;
  margin-bottom: 1em;
}

.error-msg {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-soft-red);
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  color: var(--color-very-dark-cyan);
  background-color: var(--color-light-grayish-cyan-2);
  border-radius: 0.3em;
  border: 2px solid transparent;
}

.input-wrapper input::placeholder,
.tips-item-custom input::placeholder {
  color: var(--color-dark-grayish-cyan-2);
}

.input-wrapper:hover,
.input-wrapper:focus,
.tips-item-custom:hover {
  border-color: var(--color-strong-cyan);
}

.input-wrapper.focused,
.tips-item-custom.focused {
  border-color: var(--color-strong-cyan);
}

.text-right {
  text-align: right;
}

.tips-list {
  font-size: var(--font-form-input-size);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
  gap: 0.6em;
}

.tips-item {
  color: var(--color-light-grayish-cyan-2);
  background-color: var(--color-very-dark-cyan);
  border-radius: 0.2em;
  padding: 0.3em 0;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s ease-in-out;
}

.tips-item:not(.tips-item-custom):hover {
  background-color: var(--color-lighter-cyan);
  color: var(--color-very-dark-cyan);
}

.tips-item * {
  cursor: pointer;
}

.tips-item-custom {
  color: var(--color-very-dark-cyan);
  background-color: var(--color-light-grayish-cyan-2);
  border: 2px solid transparent;
}

.tips-item-custom input {
  text-align: right;
}

.tips-item.checked {
  background-color: var(--color-strong-cyan);
  color: var(--color-very-dark-cyan);
}

section.result {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  background-color: var(--color-very-dark-cyan);
  border-radius: 1em;
}

.result > div {
  flex-grow: 1;
}

.result-tip,
.result-total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.result-tip {
  margin-bottom: 1.5em;
}

.tip-amount-text,
.total-amount-text {
  font-weight: bold;
  color: var(--color-light-grayish-cyan-2);
}

.per-person-text {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-dark-grayish-cyan-2);
  margin-top: 0.2em;
}

.reset-btn {
  font-size: 1.3rem;
  color: var(--color-very-dark-cyan);
  padding: 0.5em;
  background-color: var(--color-strong-cyan);
  transition: all 0.2s ease-in-out;
}

.reset-btn:enabled:hover,
.reset-btn:enabled:focus {
  background-color: var(--color-lighter-cyan);
}
