*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font */
  --font-space-mono: "Space Mono", monospace;
  --font-form-input-size: 24px;

  /* Colors */
  /* Primary */
  --color-strong-cyan: hsl(172, 67%, 45%);

  /* Neutral */
  --color-very-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-light-grayish-cyan-2: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-family: var(--font-space-mono);
}

input {
  font-size: var(--font-form-input-size);
}
